.account-bg {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../media/fotis-fotopoulos-SyvsTmuuZyM-unsplash.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    opacity: 0.8;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 10rem auto;
    background: transparent;
    padding: 5px;
}

.button-box {
    width: 15.22rem;
    height: 6vh;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px maroon;
    border-radius: 30px;
    color: white;
}

.toggle-btn {
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: black;
    outline: none;
    position: relative;
}

.btn2 {
    top: 0;
    left: 0;
    position: absolute;
    width: 125px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}


.input-grp {
    position: absolute;
    width: 50vh;
    transition: 0.5s;
}

.input-field {
    margin-top: 0.5rem;
    width: 100%;
    border-left: black;
    border-top: black;
    border-right: black;
    border-bottom: 1vh solid gray;
    outline: none;
    background: transparent;
    color: white;
}

.submit-btn {
    width: 85%;
    padding: 2vh 5vh;
    cursor: pointer;
    margin: auto;
    display: block;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: black;
    outline: none;
    border-radius: 5vh;
    margin-top: 2rem;
}

.check-box {
    margin: 5vh 2vh 5vh ;
    border: black;

}

.input-grp1 {
    position: absolute;
    width: 50vh;
    transition: 0.5s;
    display: none;
}

.btn1 {
    top: 0;
    left: 120px;
    position: absolute;
    width: 125px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

