<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::frag(${title})">
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="showWhat()">
<div th:replace="navbar::nav"></div>
<div class="account-bg">
    <div class="form-box">
        <div class="button-box">
            <div class="btn-c btn2"></div>
            <button type="button" class="toggle-btn" onclick="login()">
                Log In
            </button>
            <button type="button" class="toggle-btn" onclick="login()">
                Register
            </button>
        </div>
        <form id="login" class="input-grp" th:action="@{/login}" method="post" th:object="${client}">
            <div th:if="${param.error}" class="text-danger alert alert-danger">Invalid username or password</div>
            <div th:if="${param.logout}" class="text-success alert alert-success">You are successfully logged out
            </div>
            <input
                    type="text"
                    class="input-field"
                    name="username"
                    placeholder="Username"
                    required
            />
            <input
                    type="Password"
                    class="input-field"
                    name="password"
                    placeholder="Password"
                    required
            />
            <button type="submit" class="submit-btn">Log In</button>
        </form>
        <form id="login1" class="input-grp1" th:action="@{/register}" method="post" th:object="${client}">
            <input type="text" id="show" style="display: none" th:value="${showregister}">
            <input
                    type="text"
                    class="input-field"
                    name="mobile"
                    th:value="${client.mobile}" placeholder="Mobile"
                    th:classappend="${#fields.hasErrors('mobile')} ? 'is-invalid' : ''">
            <div class="invalid-feedback" th:each="e:${#fields.errors('mobile')}" th:text="${e}"></div>
            <input
                    type="email"
                    class="input-field"
                    name="username"
                    th:value="${client.username}" placeholder="Email"
                    th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''">
            <div class="invalid-feedback" th:each="e:${#fields.errors('username')}" th:text="${e}"></div>
            <div class="text-danger" th:if="${userAvailable}">Email is already registered</div>
            <input
                    class="input-field"
                    placeholder="Password"
                    type="password"
                    th:value="${client.password}" name="Password"
                    th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''">
            <div class="invalid-feedback" th:each="e:${#fields.errors('password')}" th:text="${e}"></div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="agree"
                       th:classappend="${#fields.hasErrors('agree')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:each="e:${#fields.errors('agree')}" th:text="${e}"></div>
                <label class="form-check-label" style="color: white" for="exampleCheck1">Agree Term and condition</label>
            </div>
            <button type="submit"  class="submit-btn">Register</button>
        </form>
    </div>
</div>
</body>
</html>