<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::frag(${title})">
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="start()">
<div th:replace="navbar::nav"></div>
<div th:replace="homenav::nav1"></div>
<div th:replace="sidebar::side"></div>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<section class="dashboard_banner" id="banneres">
    <div class="card" style="margin-top: 100px" th:each="e: ${projects}">
        <div class="card-header">
            <h2 class="project-name"><span th:text="${e.name}"></span></h2>
        </div>
        <div class="card-body" style="text-align: left">
            <span class="item-head"> Project Type: &nbsp; </span> <span class="project-type-detail" th:text="${e.type}"> </span> <br>
            <br>
            <span class="item-head"> Highlights: </span> <br>
            <span class="project-type-detail">
            <pre style="font-family: 'Times New Roman'; font-size: 1.3vw" th:text="${e.highlights}">

            </pre>
                </span>
            <span class="item-head">Price: </span> <span class="item-amount" th:text="${e.discount}">
        </span> <span class="item-cut"> <del th:text="${e.price}"></del></span> <span class="item-discount" th:text="${e.discountPercentage}"></span>
            <span class="item-discount">%off</span>
            <a href="#" th:href="@{'/user/checkout/' + ${e.id}}" style="float: right;" class="btn btn-outline-danger btn-warning bot">Buy</a>
        </div>
    </div>
    <div th:replace="about::about"></div>
</section>
</body>
</html>